<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Gudang Barang</title>
    <!-- Gudang Admin Adalah registrasi Admin -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
      body{
        font-family: poppins;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    
  </head>

  <body style="background-color: #ffffff;">
    
<!-- Ini awal nav bar -->
<div class="container navBar" style="background-color:white ;">
  <nav class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <!-- Ini Awal Logo -->
      <div class="col-4 pt-1">
        <a href="/home" class="nav-item" style="text-decoration:none; font-weight: 650;  color: #5FA8A0;" >
          <img src="umkm animation.png" width="40" height="40" style="border-radius: 10px; margin-right: 10px;">
          Fairy Blossom
        </a>
      </div>
      <!-- Ini Akhir Logo -->

      <!-- Ini awal nav button -->
      <nav class="col-7" style="text-align:right;">
        <a href="/data" class="nav-item" >&emsp; Data User &emsp;</a>
        <a href="/gudangAdmin" class="nav-item" >&emsp; Data Item &emsp;</a>
      </nav>
      <!-- Ini akhir nav button -->

      <!-- Ini awal foto profil -->
      <div class="dropdown text-end col-1 d-flex justify-content-end align-items-center">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="icon-3.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="/home">Logout</a></li>
        </ul>
      </div>
      <!-- Ini akhir foto profil -->
    </div>
    
    
  <!-- <hr> -->
  </nav>
</div>
<!-- Ini akhir nav bar -->

<!-- ---------------------------- -->

<!-- Ini Awal Subscriber -->
    <main class="container">
      <div class="p-4 p-md-5 mb-3 flex" id="bioPage" style="background-color: #eeeeee; border-radius: 2% ;">
        <h3 class="subJudul mb-5 text-center" id="coursePage">Gudang Barang</h3>

        <form action="/items/tambah" method="post">
          <div class="p-4 mt-4 bg-white shadow-lg">
            <h4 class="subJudul mb-4 mt-2" id="coursePage">Add Item</h4>

            <div class="form">
              <p style="font-family: poppins;">Nama Produk</p>
              <input type="text" name="name" class="form-control mb-3" placeholder="Nama" required>
            </div>
        
            <div class="form">
              <p style="font-family: poppins;">Harga Produk</p>
              <input type="text" name="harga" class="form-control mb-3" placeholder="Harga" required>
            </div>

            <div class="form">
              <p style="font-family: poppins;">Gambar Produk</p>
              <input type="file" name="gambar" class="form-control mb-4" required>
            </div>
            
            <button 
              class="w-100 btn btn-lg btn-primary" 
              style="background-color: #3C6E71 ; border: transparent;" 
              type="submit">
                Tambah
            </button>
          </div>
        </form>

        <section class="p-4 mt-4 bg-white shadow-lg">
          <h4 class="subJudul mb-3" id="coursePage">Update Stok Item</h4>
            <form action="/items/tarik" method="post">
                <div class="flex items-center">
                    <select name="type" class="w-1/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
                        <option value="masuk">Stok Masuk</option>
                        <option value="ditarik">Stok Ditarik</option>
                    </select>
                    <select placeholder="Paket Item" name="item_id" class="w-2/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
                        <% for (item of items) { %>
                            <option value="<%= item.id %>"><%= item.name %></option>
                        <% } %>
                    </select>
                    <input type="number" name="amount" value="0" class="w-1/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
                    <button 
                    class="w-1/5 bg-slate-500 text-white px-3 py-2 border text-sm font-bold tracking-widest hover:bg-slate-600"
                    style="background-color: #3C6E71 ; border: transparent;" >
                    Submit
                    </button>
                </div>
            </form>
        </section>

        
        <section class="p-4 mt-4 bg-white shadow-lg">
          <h4 class="subJudul mb-3" id="coursePage">List Paket Item</h4>
          <table class="border" cellpadding="10">
            <ul>
                <tr>
                  <th class="border"> Nama Item </th>
                    <th class="border"> Harga Item</th>
                    <th class="border"> Stok Item</th>
                    <th class="border"> Gambar Item</th>
                    <th class="border"> Status Item </th>
                    <th class="border"> Update Status </th>
                </tr>
                <% for (item of items) { %>
                    <tr>
                        <th class="border"> <%= item.name %> </th>
                        <th class="border"> Rp.<%= item.harga %> </th>
                        <th class="border"> <%= item.qty %> pcs </th>
                        <th class="border"><img width="100px" height="100px" src="<%= item.gambar %>"></th>
                        <th class="border"> <%= item.status %> </th>
                        <th class="border"><a href="/updateItem/<%= item.id %>">Update</a></th>
                    </tr>
                <% } %>
            </ul>
          </table>
        </section>

        <section class="p-4 mt-4 bg-white shadow-lg">
          <h4 class="subJudul mb-3" id="coursePage">History Stok</h4>
          <table class="border" cellpadding="10">
            <ul>
                <tr>
                  <th class="border"> user </th>
                    <th class="border"> Tipe </th>
                    <th class="border"> Nama Item </th>
                    <th class="border"> Jumlah </th>
                    <th class="border"> Waktu </th>
                </tr>
                <% for (log of pembukuan) { %>
                    <tr>
                      <th class="border"> <%= log.user %> </th>
                        <th class="border"> <%= log.type %> </th>
                        <th class="border"> <%= items.find(item => item.id === log.item_id).name %> </th>
                        <th class="border"> <%= log.amount %> pcs </th>
                        <th class="border"> <%= log.create_time%></th>
                    </tr>
                <% } %>
            </ul>
          </table>
        </section>

      </div>
    </main>
    <!-- Ini akhir home -->
  </body>
</html>
